.canvas {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 2;

  border: 1px solid black;
}

.mobile {
  width: calc(100% - 5vw);
}

.tablet {
  width: calc(100% - 5vw);
}

.desktop {
  width: calc(100% - 5vw);
  max-width: 1200px;
}