.canvas {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.holder {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  position: relative;
  z-index: 2;

  border: 1px solid black;
}

.mobile {
  width: 100%;
  margin: 0 5vw;
}

.tablet {
  width: 100%;
  margin: 0 5vw;
}

.desktop {
  width: 100%;
  max-width: 1200px;
  margin: 0 5vw;
}